.products {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  justify-items: center;
  margin: 20px 0;
}

/* -------------productItem------------- */
@import url("../utlis/productitem/ProductItem.css");

.delete-all {
  text-align: right;
  margin: 20px;
}
.delete-all input {
  height: 30px;
  width: 25px;
  transform: translateY(15px);
  margin: 0 15px;
}
.delete-all span {
  text-transform: uppercase;
  color: rgb(3, 165, 200);
}
.delete-all button {
  border-radius: 5px;
  border: 1px solid red;
  padding: 10px 25px;
  color: crimson;
  text-transform: uppercase;
  text-align: center;
}
.delete-all button:hover {
  color: white;
  background: crimson;
}

.filter_menu {
  width: 100%;
  min-height: 40px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  margin: 15px 0;
  gap: 5px;
}

.filter_menu select,
input {
  border: 1px solid #ccc;
  outline: hidden;
  height: 40px;
  padding: 0 5px;
}
.filter_menu input {
  flex: 1;
  margin: 0 10px;
  border-radius: 5px;
}

/* ----------loadmore------ */
.load_more{
    text-align: center;
    margin-bottom: 10px;
}